Repository MultiDirectoryLab/MultiDirectory, pull requests merged in 2025-06, with the labels that each got.

#586 fix: first setup krb - resolve deps task_489
  app/ioc.py
Labels: bug, python, high priority, Kerberos

#594 add: entityTypeName attribute
  app/ldap_protocol/ldap_requests/search.py
  app/models.py
Labels: python, mid priority, ldap

#516 Add: DNS zone control
  .dns/dns_api.py
  .dns/entrypoint.sh
  .dns/templates/zone.template
  .dns/templates/zone_options.template
  .docker/bind9.Dockerfile
  .github/workflows/build-beta.yml
  .github/workflows/build-docker-image.yml
  .package/docker-compose.yml
  .package/setup.bat
  .package/setup.sh
  .package/traefik.yml
  app/api/exception_handlers.py
  app/api/main/dns_router.py
  app/api/main/schema.py
  app/config.py
  app/extra/templates/named_conf_local_zone_part.template
  app/extra/templates/zone.template
  app/ioc.py
  app/ldap_protocol/dns.py
  app/ldap_protocol/dns/__init__.py
  app/ldap_protocol/dns/base.py
  app/ldap_protocol/dns/remote.py
  app/ldap_protocol/dns/selfhosted.py
  app/ldap_protocol/dns/stub.py
  app/ldap_protocol/dns/utils.py
  app/multidirectory.py
  docker-compose.dev.yml
  docker-compose.yml
  tests/conftest.py
  tests/test_api/test_main/test_dns.py
  traefik.yml
Labels: DNS
